.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: #ffffff;
    padding: 20px 60px;
    border-radius: 20px;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 24px;
    }
    .title {
      color: #5d5b8d;
      font-size: 14px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid #a7bcff;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }
      button {
        background-color: #a7bcff;
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        border: none;
      }
    }
    p {
      color: #5d5b8d;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
